{% extends 'index.html' %}

{% block head %}
    <title>Personal area</title>
 <style>
        .diagonal-text {
            position: absolute; /* מאפשר מיקום חופשי */
            top: 50%; /* מיקום אנכי */
            left: 50%; /* מיקום אופקי */
            transform: translate(-50%, -50%) rotate(-45deg); /* מיקום במרכז עם סיבוב */
            font-size: 110px; /* גודל הפונט */
            color: rgba(0, 0, 0, 0.5); /* צבע עם שקיפות */
            pointer-events: none; /* לא להפריע לאירועים אחרים */
        }
    </style>
{% endblock %}

{% block body %}
  <h2>!!שלום</h2>
  <h1>הקניות שלך</h1>
  {% if df.shape[0] > 0 %}
       <table border="1">
        <tr>
            <th>קוד</th>
            <th>שם</th>
            <th>מחיר</th>
            <th>תאריך</th>
        </tr>
        {% for index, row in df.iterrows() %}
        <tr>
            <td>{{ row['Code'] }}</td>
            <td>{{ row['Name'] }}</td>
            <td>{{ row['Price'] }}</td>
            <td>{{ row['Date'].strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>!אין קניות להציג</p>
    {% endif %}
<br>
<br>
<form class="personal_area_class" action="" method="get">
<div class="diagonal-text">דוגמא בלבד</div>
    <button formaction="/Register">הוסף קניה</button>
    <button formaction="/demoProfile/getMore">להצגת כל הקניות שלך לחץ כאן</button>
    <button formaction="/Register">גיבוי נתונים</button>
    <button formaction="/Register">הורד את הקובץ</button>
    <button formaction="/Register">כדי לראות את סך ההוצאות שלך בכל שבוע בשנה האחרונה לחץ כאן</button>
    <button formaction="/Register">כדי לראות את ממוצע ההוצאות בחודש זה לעומת חודשים קודמים לחץ כאן</button>
    <button formaction="/Register">ליעול קניות לחץ כאן</button>
</form>
    {% if request.args.get('graph') %}
        <img src="{{ url_for('static', filename='graphs/' + request.args.get('graph').split('/')[-1]) }}" alt="Monthly Expenses Comparison">
    {% endif %}
{% endblock %}
