{% extends 'index.html' %}

{% block head %}
    <title>Personal area</title>
{% endblock %}

{% block body %}
  <h2>!!שלום</h2>
    <h1>הקניות שלך</h1>

    {% if purchases %}
    <table>
        <tr>
            <th>שם פריט</th>
            <th>כמות</th>
            <th>מחיר</th>
            <th>תאריך</th>
        </tr>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.item_name }}</td>
                <td>{{ purchase.qty }}</td>
                <td>{{ purchase.price }} ₪</td>
                <td>{{ purchase.date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>!אין קניות להציג</p>
{% endif %}
<br>
<br>
<form class="personal_area_class" action="" method="get">

    <button formaction="/add_purchase">הוסף קניה</button>
    <button formaction="/profile/getMore">להצגת כל הקניות שלך </button>
    <button formaction="http://127.0.0.1:5000/saveData">גיבוי נתונים</button>
    <button formaction="http://127.0.0.1:5000/downloadData">הורד את הקובץ</button>
    <button formaction="http://127.0.0.1:5000/graph1"> סך ההוצאות שלך בכל שבוע בשנה האחרונה </button>
    <button formaction="http://127.0.0.1:5000/graph2"> ממוצע ההוצאות בחודש זה לעומת חודשים קודמים </button>
    <button formaction="http://127.0.0.1:5000/optimize_purchases">ליעול קניות </button>
</form>
    {% if request.args.get('graph') %}
        <img src="{{ url_for('static', filename='graphs/' + request.args.get('graph').split('/')[-1]) }}" alt="Monthly Expenses Comparison">
    {% endif %}

{% endblock %}