{% extends 'index.html' %}

{% block head %}
    <title>Personal area</title>
{% endblock %}

{% block body %}
  <h2>!!שלום</h2>
    <h1>הקניות שלך</h1>
    {% if purchases %}
        <ul>
            {% for purchase in purchases %}
                <li>{{ purchase.item_name }} -
                    כמות: {{ purchase.qty }} ,
                    {{ purchase.price }} ₪ ,
                    תאריך: {{ purchase.date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>!אין קניות להציג</p>
    {% endif %}
<form class="personal_area_class" action="" method="get">

    <button formaction="/add_purchase">הוסף קניה</button>
    <button formaction="/profile/getMore">להצגת כל הקניות שלך לחץ כאן</button>
    <button formaction="http://127.0.0.1:5000/saveData">גיבוי נתונים</button><button formaction="http://127.0.0.1:5000/downloadData">הורד את הקובץ</button>
    <button formaction="http://127.0.0.1:5000/graph1">כדי לראות את סך ההוצאות שלך בכל שבוע בשנה האחרונה לחץ כאן</button>
    <button formaction="http://127.0.0.1:5000/graph2">כדי לראות את ממוצע ההוצאות בחודש זה לעומת חודשים קודמים לחץ כאן</button>
    <button formaction="http://127.0.0.1:5000/optimize_purchases">ליעול קניות לחץ כאן</button>
    {% if request.args.get('graph') %}
        <img src="{{ url_for('static', filename='graphs/' + request.args.get('graph').split('/')[-1]) }}" alt="Monthly Expenses Comparison">
    {% endif %}
</form>

{% endblock %}